{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Login</h1>
    <div class="step-counter">STEP 2</div>
    <a class="btn-sign-google btn-sign" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'choose-facebook-account' %}">
        <img src="{% static "/images/google.png" %}">
        <span>Sign in to Google</span>
    </a>
    <br>
    <br>
    <br>
    <form action="{% url 'social:disconnect' 'facebook' %}" method="post">
        {% csrf_token %}
        <!--<button class="step-back">Step back</button>-->
    </form>
{% endblock content %}