{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Login</h1>
    <div class="step-counter">STEP 1</div>
    <a class="btn-sign-facebook btn-sign" href="{% url 'social:begin' 'facebook' %}">
        <img src="{% static "/images/facebook.png" %}">
        <span>Sign in to Facebook</span>
    </a>
    <!--<div class="step-counter">OR</div>-->
    <!--<form class="sign-form" method="post">-->
        <!--{% csrf_token %}-->
        <!--{% for field in form %}-->
            <!--<input class="smooth-input" placeholder="{{ field.label }}" name="{{field.name}}">-->
        <!--{% endfor %}-->

        <!--<button class="btn-sign-form btn-sign" type="submit">Sign in with login / password</button>-->
    <!--</form>-->
    <!--<script>-->
        <!--var btnSignInForm = document.querySelector('.btn-sign-form');-->
        <!--btnSignInForm.addEventListener('click', function () {-->
            <!--var inputs = document.querySelectorAll('.sign-form input');-->
            <!--for (var i=0; i < inputs.length; i++) {-->
                <!--var input = inputs[i];-->
                <!--if (input.value == input.getAttribute('placeholder') || input.value.length == 0) {-->
                    <!---->
                <!--}-->
            <!--}-->
        <!--});-->
    <!--</script>-->
{% endblock content %}