{% load static %}
<html>
    <head>
        <title>CFM analytics tools</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/styles.min.css" %}">
        {% block head %}{% endblock head %}
    <head>
    <body>
        <div class="logo"></div>
        {% block content %}{% endblock content %}
    </body>
</html>
