{% extends "base.html" %}

{% block content %}
    <h1>Choose Facebook Ad account</h1>
    <div class="step-counter">STEP 3</div>
    <div class="facebook-account-picker">
        {% for account in facebook_ads_accounts %}
            <div class="ad-account">
                <input type="radio" name="account" value="{{ account.id }}" class="radio" id="radio-{{ forloop.counter }}" />
                <label for="radio-{{ forloop.counter }}">{{account.name}}</label>
            </div>
        {% endfor %}
    </div>
    <div class="btn-choose-facebook-ad-account disabled">Choose</div>
    <form action="{% url 'choose-facebook-account' %}" method="POST">
        {% csrf_token %}
        <input class="" type="hidden" name="ad-account" value="">
    </form>
    <script>
        var btn = document.querySelector('.btn-choose-facebook-ad-account');

        [].forEach.call(document.querySelectorAll('.radio, .radio + label'), function (el) {
            el.addEventListener('click', function () {
                console.log(el.parentNode);
                var value = el.parentNode.querySelector('input').value;
                document.querySelector('input[name=ad-account]').value = value;
                btn.classList.remove('disabled');
            });
        });

        btn.addEventListener('click', function () {
           if (! btn.classList.contains('disabled')) {
               document.querySelector('form').submit();
           }
        });
    </script>
{% endblock content %}